<html>
<head>
  <link rel="stylesheet" href="/assets/styles.css" type="text/css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"/>
  <title> SELL.COM </title>

</head>
<body>
  <%- include("./partials/partial.ejs") %>
<div id="product-container">
<h1 style="font-size: 40px;"> Your Information has been Processed!! </h1>
</body>
</html>
